.main {
  position: relative;
  width: 100vw;
  background-color: transparent;
}

.prev_page_arrow {
  position: absolute;
  top: 0;
  left: 4px;
  color: white;
  z-index: 9;
  font-size: 40px;
}

.carosel_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-image: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0.08) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0)
  );
}

.carousel_image {
  width: 100%;
  aspect-ratio: 9/8;
}

.indicator {
  position: absolute;
  bottom: 18px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 36px;
  border-radius: 18px;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.6);
}

.spinner {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  animation: ldio 1s linear infinite;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 var(--color-secondary-accent);
}

@keyframes ldio {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
