.main {
  position: relative;
  width: 100vw;
  background-color: transparent;
  > button {
    position: absolute;
    top: 0;
    left: 4px;
    z-index: 9;
    font-size: 40px;
  }
}

.carosel_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-image: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0.08) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0)
  );
}

.image_box {
  position: relative;
  img {
    width: 100vw;
    height: 100vw;
    position: relative !important;
  }
}

.indicator {
  position: absolute;
  bottom: 18px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 36px;
  border-radius: 18px;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.6);
}
