.main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100vw;
  margin-top: 20px;
  padding: 0 6vw;
  color: var(--color-font-secondary);
  font-size: var(--size-font-l);
}

.address_box {
  font-style: normal;
  & span {
    text-decoration: underline;
  }
}

:is(.address_box, .office_hours_box, .phone_box, .site_box) {
  display: flex;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;
}

.office_hours_box {
  align-items: start;
  > details {
    position: relative;
    display: flex;
    flex-direction: column;
    > div {
      margin-top: 1rem;
    }
    > summary {
      list-style: none;
      > p {
        display: block;
        font-weight: bold;
      }
      > div {
        display: flex;
        align-items: center;
        column-gap: 6px;
      }
    }
  }
  details[open] {
    & svg {
      transform: rotate(180deg);
    }
  }
}

.content {
  margin-top: 6px;
  > button {
    padding: 14px 0 0 0;
    color: var(--color-font-secndary);
  }
  > dialog[open] {
    width: 80vw;
    min-height: 20vh;
    border-radius: var(--border-radius-primary);
    padding: 20px;
    background-color: var(--color-background);
    color: var(--color-font-secondary);
    text-align: center;
    font-size: var(--size-font-l);
    > h3 {
      color: var(--color-font-secondary);
      margin: 0.8rem 0;
    }
  }
}

.open_office_hour_text {
  text-decoration: underline;
}

.summarize_hours_box {
  padding: 0.6rem;
  line-height: 20px;
  :not(:first-child) {
    margin-top: 1rem;
  }
}

.close_button {
  margin-top: 1rem;
  border: 2px solid var(--color-font-primary);
  border-radius: var(--border-radius-primary);
  padding: 10px;
  color: var(--color-font-primary);
  width: 100%;
}

.closed {
  color: var(--color-error);
}
