.main {
  position: relative;
  width: 100svw;
}

.info_box {
  position: relative;
  padding-top: 20px;
  z-index: 20;
  padding-bottom: 8svh;
}

:is(.title_header, .description_section, .recommend_section) {
  padding: 0 6vw;
}

.title_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1.6rem;
    color: var(--color-font-primary);
  }
}

.cutline {
  width: 90svw;
  height: 1px;
  background-color: var(--color-font-tertiary);
  margin: 20px auto;
}

.description_section,
.beer_figure {
  & p {
    font-size: 14px;
    color: var(--color-font-tertiary);
    line-height: 20px;
  }
}

.beer_figure {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  > div {
    display: flex;
    align-items: center;
    column-gap: 6px;
    > span {
      color: var(--color-secondary-accent);
      font-size: var(--size-font-m);
    }
  }
  > h3 {
    margin: 0;
    font-weight: normal;
    color: var(--color-tertiary-accent);
    font-size: var(--size-font-xl);
  }
}

.long_text {
  white-space: pre-line;
  color: var(--color-font-tertiary);
}
